body{
  background-color: blue;
}

section{
  width: 30%;
  float:left;
  margin: 9%;
  background-color: white;
  border: 3px solid black;
}


footer{
  clear:both;
  text-align: center;
  background-color: white;
  border: 3px solid black;
  width: 20%;
  margin: 40%;
}

header{
  padding-left: 10%;
  color: white;
}

ul{
  list-style-type: none;
}
