body{
  background-color: blue;
  font-family: 'Droid Sans', sans-serif;
}

section{
  width: 30%;
  float:left;
  margin-left: 10%;
  background-color: white;
  border: 3px solid black;
}


header{
  padding-left: 10%;
  color: white;
}

ul{
  list-style-type: none;
}
.names{
  font-weight: bolder;
}

footer{
  clear: both;
}

button{
  margin-left: 40%;
  color: black;
  border: 3px solid black;
  background-color: white
}
